<h3>Crear un nuevo To Do</h3>

<%= form_with model: @todo, local: true do |f| %>
  <div class="form-group mt-5">
    <%= f.label :Descripción %>
    <%= f.text_field :description, id: :todo_description,class:'from-text' %>
  </div>
  <%= f.submit 'Crear', class:'btn btn-primary' %>
<% end %>
